export(fit_rpbnb_tmb)
export(simulate_rpbnb_tmb)
export(rpbnb_tmb_control)
export(copula)
export(print.rpbnb_tmb_fit)
export(summary.rpbnb_tmb_fit)
export(coef.rpbnb_tmb_fit)
export(vcov.rpbnb_tmb_fit)
export(logLik.rpbnb_tmb_fit)
export(AIC.rpbnb_tmb_fit)
export(BIC.rpbnb_tmb_fit)
export(predict.rpbnb_tmb_fit)
useDynLib(rpbnb.tmb, .registration = TRUE)
importFrom(stats, nlminb)
importFrom(stats, coef)
importFrom(stats, vcov)
importFrom(stats, logLik)
importFrom(stats, AIC)
importFrom(stats, BIC)
importFrom(stats, predict)
importFrom(TMB, MakeADFun)
importFrom(TMB, sdreport)
