export(fit_rpbnb_tmb)
export(rpbnb_tmb_control)
export(copula)
importFrom(stats, nlminb)
importFrom(stats, coef)
importFrom(stats, vcov)
importFrom(stats, logLik)
importFrom(stats, AIC)
importFrom(stats, BIC)
importFrom(stats, predict)
importFrom(TMB, MakeADFun)
importFrom(TMB, sdreport)
